<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to "/", class: "navbar-wagon-brand" do %>
  <%= image_tag "tooth-logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <%= link_to "Equipe", "/equipe.html", class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Text link -->
    <%= link_to "Contact", "/contact.html", class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Dropdown appearing on mobile only -->
  </div>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Equipe", "/equipe.html", class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Contact", "/contact.html", class: "navbar-wagon-item navbar-wagon-link" %></li>
      </ul>
    </div>
  </div>
</div>
